#title {
    text-align: center;
    font-family: serif;
    font-style: oblique;
    font-stretch: expanded;
    font-size: 45px;
    margin: 15px;
    color: rgb(235,229, 189);
}

.menu {
    
    background-color: rgb(120, 148, 120);
    width: 100%;
    height: 100px;
    overflow: auto;
}
.menu button {
    cursor:pointer;
    float: left;
    margin-top: 20px;
    background-color: rgb(235,229, 189);
    border-color: rgb(235,229, 189);
    height: 50px;
    width: 15%;
    font-family: serif;
    font-size: 1vw;
    font-weight: bold;
}

#contact {
    float: left;
    margin-left: 9%
}

#info {
    float: left;
    margin-left: 1%;
    margin-right: 2%;
}

#rating {
    margin-left: 10%;
    margin-right: 10%
}

#footer{
    padding: 0.5%;
    background-color: rgb(120, 148, 120);
    color: rgb(235,229, 189);
    height: 20%
}

a {
    color: rgb(109, 94, 77);
}


#language {
    color:rgb(235,229, 189);
    float: right;
}

#backToHome {
    cursor:pointer;
    background-color: rgb(109, 94, 77);
    border: none;
    font-size:120%;
    color: rgb(235,229, 189);
}

body {
    background-color: rgb(109, 94, 77);
    padding-top: 5%;
    padding-left: 5%;
    padding-right:5%;
    padding-bottom: 5%;
}

body main{
    background-repeat: no-repeat;
    background-size: cover;
    min-height: calc(100vh - 161px);
    padding: 2%;
    background-color: rgb(120, 148, 120);
    font-size: x-large;
}

table {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 2vh;
    border-collapse: collapse;
    border-spacing: 0;
    padding: 5%;
    color: rgb(109, 94, 77);
    font-weight: bold;
    font-style: oblique;
}

td {
    width: 20%;
    border-left:1px solid black;
    border-right:1px solid black;
    padding: 0.75%;
    border-color: rgb(235,229, 189);
}

#endOfChapter {
    display: block;
    margin-top: 2%;
    margin-bottom:5%;
    margin-left: auto;
    margin-right: auto;
}

.rooms {
    text-align: center;
    color: rgb(235,229, 189);

}

b {
    color: rgb(235,229, 189);
}

.description {
    font-style: oblique;
    font-weight: bold;
    color: rgb(109, 94, 77);
    margin: 5%;
    text-align: justify;
}

.LivingRoomPics,.SittingRoomPics,.BathroomPics,.KitchenPics,.BedroomPics{
    display:none;
    margin-right:auto;
    margin-left: auto;
    max-width: 70%;
}

#first {
    display:block;
    margin-right:auto;
    margin-left:auto;
    max-width:70%;
}

.left {
    cursor: pointer;
    border-color: rgb(120, 148, 120);
    background-color: rgb(120, 148, 120);
    color: rgb(235,229, 189);
    float: left;
    font-size:100%;
}

.right {
    cursor: pointer;
    border-color: rgb(120, 148, 120);
    background-color: rgb(120, 148, 120);
    color: rgb(235,229, 189);
    float: right;
    font-size:100%;
}

#hostPhoto {
    float: left;
    width:14%;
    margin-bottom:1%;
    margin-top:1%;
    margin-left:2%;
    margin-right:5%;
    
}

.hostDetails {
  color: rgb(109, 94, 77);
  font-weight:bold;
  font-family:serif;
  font-style:oblique;
  margin-right: 20%;
  text-align:justify;
}




